* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #fff;
}

.side-navbar {
  width: 185px;
  height: 100%;
  position: fixed;
  margin-left: -300px;
  background-color: #4157fa;
  transition: 0.5s;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
  background-color: #ffffff26;
}

.my-container {
  transition: 0.4s;
}

.active-nav {
  margin-left: 0;
}

/* for main section */
.active-cont {
  margin-left: 180px;
}

#menu-btn {
  background-color: #100901;
  color: #fff;
  margin-left: -62px;
}

.my-container input {
  border-radius: 2rem;
  padding: 2px 20px;
}

.content-wrapper {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  min-height: 80vh;
}

/* contoh jika nanti ada form */
.content-wrapper form {
  max-width: 800px;
}

.input-persegi {
  border-radius: 0;
}